# Demo BasicActivity

In [2]:
import datetime, time
import simpy

import pandas as pd
import openclsim.core as core
import openclsim.model as model

# setup environment
simulation_start = 0
my_env = simpy.Environment(initial_time=simulation_start)
registry = {}

## Definition of basic activity

In [3]:
basic_activity_data= {"env"  : my_env,
                      "name" : "Basic activity",
                      "ID":"6dbbbdf7-4589-11e9-bf3b-b469212bff5b",  # For logging purposes
                      "registry": registry,
                      "duration" : 14}
activity = model.BasicActivity(**basic_activity_data)

## Run simulation

In [4]:
my_env.run()

In [5]:
log_df = pd.DataFrame(activity.log)
data =log_df[['Message', 'ActivityState', 'Timestamp', 'Value', 'ActivityID']]
data

,Message,ActivityState,Timestamp,Value,ActivityID
0,Basic activity,START,1970-01-01 00:00:00,14,6dbbbdf7-4589-11e9-bf3b-b469212bff5b
1,Basic activity,STOP,1970-01-01 00:00:14,14,6dbbbdf7-4589-11e9-bf3b-b469212bff5b

## Additional logging
The scenario can be extended by aadding additional logging instances, that is, the information of the basic activity will also be logged in the activity log of additional activities. In this example a reporting activity is added where the basic activity log is also added.

In [6]:
reporting_activity_data = {
    "env": my_env,
    "name": "Reporting activity",
    "ID": "6dbbbdf7-4589-11e9-bf3b-b469212bff5k",  # For logging purposes
    "registry": registry,
    "duration": 0,
    "postpone_start": False,
}
reporting_activity = model.BasicActivity(**reporting_activity_data)

basic_activity_data= {"env"  : my_env,
                      "name" : "Basic activity",
                      "registry": registry,
                      "ID":"6dbbbdf7-4589-11e9-bf3b-b469212bff5b",  # For logging purposes
                      "duration" : 14,
                      "additional_logs": [reporting_activity],
                      }
activity = model.BasicActivity(**basic_activity_data)
my_env.run()

## Simualtion results

In [7]:
log_df = pd.DataFrame(activity.log)
reporting =log_df[['Message', 'ActivityState', 'Timestamp', 'Value', 'ActivityID']]
reporting

,Message,ActivityState,Timestamp,Value,ActivityID
0,Basic activity,START,1970-01-01 00:00:14,14,6dbbbdf7-4589-11e9-bf3b-b469212bff5b
1,Basic activity,STOP,1970-01-01 00:00:28,14,6dbbbdf7-4589-11e9-bf3b-b469212bff5b